.Navbar {
  background: linear-gradient(
    90deg,
    rgba(58, 8, 9, 1),
    rgba(117, 17, 19, 1) 100%
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.cellar-icon {
  color: whitesmoke;
  justify-content: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-solid fa-wine-bottle {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.iLinks {
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.iLinks:hover {
  background-color: rgba(58, 8, 9, 1);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: whitesmoke;
}

.iLinksLogin{
    display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.3 ease;
  }

  .nav-menu.active {
      background: red;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
  }

  .iLinks {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table
  }

  .iLinks:hover {
    background-color: red;
    border-radius: 0;
  }

  .cellar-icon {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
  }

  .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.0rem;
      cursor: pointer
  }


}
